// Colors
$background: #232328;

$headline: #fffffe;
$paragraph: #94a1b2;

$primary: #7b5cdb;
$secondary: #72757e;
$tertiary: #f45f6c;

// Links colors
$color-link: $primary;
$color-link-hover: $color-link;
$color-link-active: lighten($color-link-hover, 5%);
