header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;

  width: 100%;
  max-width: 750px;

  margin: auto;
  padding: 1em 1em 1em 0;
  border-left: 1em solid $tertiary;
  border-bottom-right-radius: 25px;

  //background-color: $primary;
  background-image: linear-gradient($primary, #7053c6);
}

header > ul{
  display: flex;

  list-style-type: none;
  padding: 0;
  margin: 0;

  font-size: 1.75em;

  & > li > a{
    &, &:visited{
      color: $headline;
    }

    &:hover{
      color: $headline;
      text-decoration: none;
    }

    &:active{
      color: $headline;
    }
  }
}
