.lum-lightbox.lum-open{
  z-index: 3 !important;
}

.lum-lightbox-image-wrapper{
  margin: .2em !important;
}

.sliderContainer{
  #slider{
    height: 375px;
    width: 100%;

    & a{
      padding: auto;

      & img{
        width: 100%;
      }
    }
  }

  &-shadow{
    width: 750px;
    height: 375px;
    max-width: 100%;
    background: #f45f6c;
    position: absolute;
    top: 1em;
    left: 1em;
  }
}

.lum-gallery-button{
  display: none;
}
