@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;1,300&display=swap');

html, body{
  height: 100vh;
  background: $background;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

body{
  display: flex;
  flex-direction: column;

  margin: auto;

  color: $paragraph;
  font-family: 'Source Serif Pro', serif;
  font-size: 18px;
}

main{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  max-width: 750px;
  margin: auto;
}

img{
  max-width: 100%;
}

video{
  width: 100%;
  height: auto;
}

a{
  text-decoration: none;

  &, &:visited{
    color: $color-link;
  }

  &:hover{
    color: $color-link-hover;
    text-decoration: underline;
  }

  &:active{
    color: $color-link-active;
  }
}
